name: CI - Tests & Quality Checks
run-name: CI triggered by ${{ github.actor }}
on:
  push:
    branches:
      - main
      - develop
      - "releases/**"
  pull_request:
    branches:
      - main
      - develop
      - "releases/**"

# Down scope as necessary via https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip" # caching pip dependencies

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          flake8: true
