name: Model Training

on:
  push:
    branches: [main]

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest

    steps:
      - name: Initialize the model
        run: echo "Doing something ..."

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: my_files.pkl
